
<div class="card myaccount-menu">
    <h5 class="card-header">
        My account
    </h5>
    <div class="list-group list-group-flush has-icons">
        <a href="/update-profile??name={{user}}" rel="nofollow" class="list-group-item list-group-item-action menuitemr">
            <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 18px;margin-right: 3px;"></i>
            <span>My Profile</span>
        </a>

        <a href="/dashboard" rel="nofollow" class="list-group-item list-group-item-action menuitemr">
            <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 18px;margin-right: 3px;"></i>
            <span>Dashboard</span>
        </a>
        <a href="/test" rel="nofollow" class="list-group-item list-group-item-action menuitemr">
            <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 18px;margin-right: 3px;"></i>
            <span>Exams</span>
        </a>
        <a href="/exam_results" rel="nofollow" class="list-group-item list-group-item-action menuitemr">
            <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 18px;margin-right: 3px;"></i>
            <span>Results</span>
        </a>

        <a href="/update-password" rel="nofollow" class="list-group-item list-group-item-action menuitemr">
            <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 18px;margin-right: 3px;"></i>
            <span>Change password</span>
        </a>
        <a href="/?cmd=web_logout" rel="nofollow" class="list-group-item list-group-item-action">
            <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 18px;margin-right: 3px;"></i>
            <span>Logout</span>
        </a>

    </div>
</div>

